requests
beautifulsoup4
tqdm
pdfminer.six
Pillow
pytesseract
pyarrow
python-louvain
scipy
spacy
pandas
rich
lxml
PySide6
pyqtgraph
pdfplumber
tabula-py
python-dateutil
langdetect
scikit-learn
playwright
warcio
streamlit
